/* HEADER NAVBAR */
.navbar li {
    margin-left: 0 !important;
}

.navbar a.active {
    color: #fff;
}

.navbar a:hover {
    color: #fff;
}

#header.fixed-top {
    background: #fff;

}

#header.fixed-top a.active {
    color: #fff;

}

#header.fixed-top a {
    color: #333;

}

#header.fixed-top a:hover {
    color: #ffffff;

}

#header {
    background: -webkit-linear-gradient(45deg, #fcfcfc 28%, rgba(25, 25, 25, 0.95) 28%);
    background: -webkit-linear-gradient(left, #fcfcfc 28%, rgba(25, 25, 25, 0.95) 28%);
    background: linear-gradient(45deg, #fcfcfc 28%, rgba(25, 25, 25, 0.95) 28%);
}


.navbar {
    text-transform: uppercase;
}

.fixed-top .navbar-toggle-icon {
    color: #333;
}

@media screen and (max-width: 1400px) {
    #header {
        background: -webkit-linear-gradient(45deg, #fcfcfc 18%, rgba(25, 25, 25, 0.95) 18%);
        background: -webkit-linear-gradient(left, #fcfcfc 18%, rgba(25, 25, 25, 0.95) 18%);
        background: linear-gradient(45deg, #fcfcfc 18%, rgba(25, 25, 25, 0.95) 18%);
    }
}

@media screen and (max-width: 1199px) {
    #header {
        background: rgba(25, 25, 25, 0.95);
    }
}



/* SLİDER */
.carousel-item {
    background-position: center;
}

.carousel-item video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}





/* SERVİCES */
.services .icon-box h4 {
    color: #191919;
}

.services a {
    width: 100%;
}

.services a:hover {
    cursor: pointer;
}

.services .icon-box:hover h4 {
    color: #fff;
}

.icon-box p {
    color: #444444;
}

.icon-box {
    width: 100%;
}

.overlay-text {
    position: absolute;
    top: -30%;
    left: 10px;
    z-index: 1;
}

.overlay-text h1 {
    display: inline;
    font-size: 25rem;
    font-weight: bold;
    color: rgb(197, 24, 24);
}

.overlay-text span {
    color: #fff;
    font-size: 2rem;
}

/* CONTACT */

#contact .info-box {
    height: 220px;
}


#contact .info-box {
    transition: all ease-in-out 0.3s;
}

#contact .info-box:hover {
    background-color: #cc1616;
}

#contact .info-box:hover p {
    color: #fff;
}

#contact .info-box:hover h3 {
    color: #fff;
}

#contact .info-box:hover i {
    color: #fff;
    border-color: #fff;
}

#contact .info-box-social {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
}

#contact .info-box-social i {
    font-size: 32px;
    color: #444444;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #444444;
}

#contact .info-box-social h6 {
    color: #444444;
}

#contact .info-box-social .facebook:hover i {
    color: #1877f2;
    border-color: #1877f2;
}

#contact .info-box-social .facebook:hover h6 {
    color: #1877f2;
}

#contact .info-box-social .instagram:hover i,
#contact .info-box-social .instagram:hover h6 {
    background: linear-gradient(45deg, #bc2a8d, #e95950);
    -webkit-background-clip: text;
    color: transparent;
    border-color: #bc2a8d;
}


#contact .info-box-social .linkedin:hover i {
    color: #0a66c2;
    border-color: #0a66c2;
}

#contact .info-box-social .linkedin:hover h6 {
    color: #0a66c2;
}

#contact .info-box-social .youtube:hover i {
    color: #ff0000;
    border-color: #ff0000;
}

#contact .info-box-social .youtube:hover h6 {
    color: #ff0000;
}


/* ürün detay img */

.portfolio-item img {
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.portfolio-item:hover img {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.portfolio-item:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.portfolio-item:hover img:hover {
    cursor: zoom-in;
    /* İsteğe bağlı olarak farklı bir imleç belirleyebilirsiniz */
}




.profile-card {
    background-color: #FFF;
    height: 470px;
    border-radius: 0;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    cursor: pointer;

}


.profile-card img {
    transition: all 0.25s linear;
}

.profile-card .profile-content {
    position: relative;
    padding: 15px;
    background-color: #FFF;
}

.profile-card .profile-name {
    font-weight: bold;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -70px;
    color: #FFF;
    font-size: 20px;
}


.profile-card .profile-description {
    color: #777;
    font-size: 14px;
    padding: 10px;
}

.profile-card .profile-content::before {
    content: "";
    position: absolute;
    height: 32px;
    top: -13px;
    left: 0px;
    right: -1px;
    background-color: #FFF;
    z-index: 0;
    transform: skewY(3deg);
}

.profile-card:hover img {
    transform: rotate(5deg) scale(1.1, 1.1);
    filter: brightness(110%);
}

.product-detail-properties {
    color: #000000;
    padding: 30px;
    opacity: 1;
    background: repeating-linear-gradient(45deg, #ebebeb, #ebebeb 1px, #dadada 1px, #dadada 10px);
    border-radius: 10px;
    border: 2px solid #ebebeb;
    box-shadow: 0px 0px 54px 28px rgba(0, 0, 0, 0.2);
}

.p-d-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    border-radius: 0;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 10px 28px;
    transition: 0.5s;
    border: 2px solid #fff;
    color: #222222;
}

.p-d-btn:hover {
    background-color: #cc1616;
    color: #fff;
}

#why-us .box {
    height: 350px;
}

#footer .footer-info {
    height: 296px;
}

#footer .footer-info ul {
    text-align: start;

}

#footer .footer-info ul li {
    list-style: none;

}

#footer .footer-info ul li a {
    color: #fff;
    display: flex;
    align-items: center;
}

#footer .footer-info ul li a {
    font-size: 16px;
    transition: .3s;
}

#footer .footer-info ul li:hover a {
    color: #cc1616;
}

#footer .footer-info ul li a i {
    font-size: 20px;
}

.k-wp-btn {
    padding: 35px;
    display: inline;
    position: fixed;
    left: 25px;
    bottom: 25px;
    background-color: #25D366;
    border-radius: 50%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.k-wp-btn span {

    display: flex;
    justify-content: center;
    align-items: center;
}

.k-wp-btn i {
    font-size: 2.4rem;
    color: #ffffffda;
}